<button mat-icon-button [matMenuTriggerFor]="menu">
    <mat-icon>menu</mat-icon>
</button>
<mat-menu class="mat-elevation-z1"  #menu="matMenu">
    <button mat-menu-item>
        <mat-icon>dialpad</mat-icon>
        <a routerLink="/admin/solicitud" routerLinkActive="active"><span>Solicitud</span></a>
    </button>
    <button mat-menu-item>
        <mat-icon>dialpad</mat-icon>
        <a routerLink="/admin/solicitante" routerLinkActive="active"><span>Solicitante</span></a>
    </button>
    <button mat-menu-item>
        <mat-icon>dialpad</mat-icon>
        <span>Parcela</span>
    </button>
    <mat-divider></mat-divider>
    <span mat-menu-item disabled>Nomencladores</span>
    <button mat-menu-item>
        <mat-icon>dialpad</mat-icon>
        <a routerLink="/admin/provincia" routerLinkActive="active"><span>Provincia</span></a>
    </button>
    <button mat-menu-item>
        <mat-icon>voicemail</mat-icon>
        <a routerLink="/admin/municipio" routerLinkActive="active"><span>Municipio</span></a>
    </button>
    <button mat-menu-item>
        <mat-icon>notifications_off</mat-icon>
        <a routerLink="/admin/consejoPopular" routerLinkActive="active"><span>Consejo Popular</span></a>
    </button>
    <button mat-menu-item>
        <mat-icon>notifications_off</mat-icon>
        <a routerLink="/admin/tipoDeSuperficie" routerLinkActive="active"><span>Tipo de Superficie</span></a>
    </button>
    <button mat-menu-item>
        <mat-icon>notifications_off</mat-icon>
        <a routerLink="/admin/tipoDeUso" routerLinkActive="active"><span>Tipo de Uso</span></a>
    </button>
</mat-menu>
