<div class="row" style="margin: auto auto;text-align: center">
    <div class="col-lg-4 col-md-4 ml-auto mr-auto">
        <div class="card card-login">
            <form class="form" [formGroup]="form" (submit)="iniciarSesion($event)">
                <div class="card-header card-header-primary text-center">
                    <h4 class="card-title">Inicio de Sesión</h4>
                    <div class="social-line">
                        <a href="#pablo" class="btn btn-just-icon btn-link">
                            <i class="fa fa-facebook-square"></i>
                        </a>
                        <a href="#pablo" class="btn btn-just-icon btn-link">
                            <i class="fa fa-twitter"></i>
                        </a>
                        <a href="#pablo" class="btn btn-just-icon btn-link">
                            <i class="fa fa-google-plus"></i>
                        </a>
                    </div>
                </div>
                <div class="card-body">
                    <span class="bmd-form-group">
                        <div class="input-group">
              <div class="input-group-prepend">
                <span class="input-group-text">
                    <mat-icon>person_outline</mat-icon>
                </span>
              </div>

              <mat-form-field class="full-width">
                        <input matInput placeholder="Nombre de Usuario" formControlName="username">
                  <mat-error *ngIf="form.controls['username'].errors?.required">Debe insertar el nombre de usuario</mat-error>
                    </mat-form-field>
            </div>
                    </span>
                    <span class="bmd-form-group">
                        <div class="input-group">
              <div class="input-group-prepend">
                <span class="input-group-text">
                    <i class="material-icons">lock_outline</i>
                </span>
              </div>

              <mat-form-field class="full-width">
                        <input matInput placeholder="Contraseña" formControlName="password" type="password">
                  <mat-error *ngIf="form.controls['password'].errors?.required">Debe insertar el nombre de usuario</mat-error>
                    </mat-form-field>
            </div>
                    </span>
                </div>
                <div class="footer text-center">
                    <button mat-flat-button color="primary" type="submit">Iniciar Sesión
                        <mat-icon>arrow_forward</mat-icon>
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>
