<form class="form" [formGroup]="form" (submit)="addPersonaAyuda()">
    <h1 mat-dialog-title style="margin: 0 0">{{insertar?'Nueva Persona Ayuda':'Modificar Persona Ayuda'}}
        <button type="button" mat-icon-button class="close-button" (click)="onNoClick()">
            <mat-icon style="font-size: 25px">close</mat-icon>
        </button>
        <hr>
    </h1>
    <div mat-dialog-content style="min-height: 7em;">
        <div class="row">
            <div class="col-xs-3">
                <mat-form-field>
                    <input  #input matInput maxlength="11" placeholder="CI" formControlName="ci">
                    <mat-error *ngIf="formPersona.controls['ci'].errors?.required">
                        Debe insertar el NIT de la persona.
                    </mat-error>
                    <mat-hint align="end">{{input.value?.length || 0}}/11</mat-hint>
                </mat-form-field>
            </div>
            <div class="col-xs-3">
                <mat-form-field>
                    <input matInput placeholder="Nombre" formControlName="nombre">
                    <mat-error *ngIf="formPersona.controls['nombre'].errors?.required">
                        Debe insertar el Nombre de la persona.
                    </mat-error>
                </mat-form-field>
            </div>
            <div class="col-xs-3">
                <mat-form-field>
                    <input matInput placeholder="Primer Apellido" formControlName="primerApellido">
                    <mat-error *ngIf="formPersona.controls['primerApellido'].errors?.required">
                        Debe insertar el primer Apellido de la persona.
                    </mat-error>
                </mat-form-field>
            </div>
            <div class="col-xs-3">
                <mat-form-field>
                    <input matInput placeholder="Segundo Apellido" formControlName="segundoApellido">
                    <mat-error *ngIf="formPersona.controls['segundoApellido'].errors?.required">
                        Debe insertar el segundo Apellido de la persona.
                    </mat-error>
                </mat-form-field>
            </div>
            <div class="col-xs-3">
                <mat-form-field>
                    <input matInput placeholder="Parentesco" formControlName="parentesco">
                    <mat-error *ngIf="formPersona.controls['parentesco'].errors?.required">
                        Debe insertar el Parentesco
                    </mat-error>
                </mat-form-field>
            </div>
        </div>

        <div class="example-container mat-elevation-z8" style="top: 10px;position:relative;">
            <table mat-table [dataSource]="dataSourcePersoAyu">
                <!-- Position Column -->
                <ng-container matColumnDef="ci">
                    <th mat-header-cell *matHeaderCellDef>Carnet de Identidad</th>
                    <td mat-cell *matCellDef="let element"> {{element.ci}}</td>
                    <!--<td mat-footer-cell *matFooterCellDef><strong> Total</strong></td>-->
                </ng-container>

                <!-- Name Column -->
                <ng-container matColumnDef="nombre">
                    <th mat-header-cell *matHeaderCellDef> Nombre</th>
                    <td mat-cell *matCellDef="let element"> {{element.nombre}}</td>
                    <!--<td mat-footer-cell *matFooterCellDef><strong>{{getTotal()}}</strong></td>-->
                </ng-container>

                <ng-container matColumnDef="primerApellido">
                    <th mat-header-cell *matHeaderCellDef> Nombre</th>
                    <td mat-cell *matCellDef="let element"> {{element.primerApellido}}</td>
                    <!--<td mat-footer-cell *matFooterCellDef><strong>{{getTotal()}}</strong></td>-->
                </ng-container>

                <ng-container matColumnDef="segundoApellido">
                    <th mat-header-cell *matHeaderCellDef> Nombre</th>
                    <td mat-cell *matCellDef="let element"> {{element.segundoApellido}}</td>
                    <!--<td mat-footer-cell *matFooterCellDef><strong>{{getTotal()}}</strong></td>-->
                </ng-container>

                <ng-container matColumnDef="parentesco">
                    <th mat-header-cell *matHeaderCellDef> Nombre</th>
                    <td mat-cell *matCellDef="let element"> {{element.parentesco}}</td>
                    <!--<td mat-footer-cell *matFooterCellDef><strong>{{getTotal()}}</strong></td>-->
                </ng-container>

                <!-- Symbol Column -->
                <ng-container matColumnDef="acciones" stickyEnd>
                    <th mat-header-cell *matHeaderCellDef> Acciones</th>
                    <td mat-cell *matCellDef="let element">
                        <button mat-mini-fab type="button" color="accent" (click)="editParcela($event,element)" [matTooltip]="'Editar Linea de Produccion - ' + element.lineaDeProduccion">
                            <mat-icon>mode_edit</mat-icon>
                        </button>
                    </td>
                    <!--<td mat-footer-cell *matFooterCellDef></td>-->
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumnsLinea; sticky: true"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumnsLinea;"></tr>
                <!--<tr mat-footer-row *matFooterRowDef="displayedColumnsParcela; sticky: true"></tr>-->
            </table>
        </div>
    </div>
    <div mat-dialog-actions class="boton-theme">
        <span class="spacer"></span>
        <button type="submit" mat-raised-button cdkFocusInitial color="primary">
            <mat-icon>check_circle</mat-icon>
            {{insertar?'Guardar':'Modificar'}}
        </button>
        <button type="button" mat-raised-button (click)="onNoClick()" color="warn">
            <mat-icon>cancel</mat-icon>
            Cancelar
        </button>
    </div>
</form>
