<div class="card">
    <div class="card-header ch-alt m-b-20 bgm-green">
        <h2>Tramites</h2>
    </div>
    <div class="card-body card-padding">
        <mat-card class="example-card">
            <mat-card-content style="min-height: 625px;">
                <mat-tab-group dynamicHeight>
                    <mat-tab label="Investigación">
                    </mat-tab>
                    <mat-tab label="Medición">
                    </mat-tab>
                    <mat-tab label="Regulaciones">
                    </mat-tab>
                    <mat-tab label="Línea de Producción">
                    </mat-tab>
                    <mat-tab label="Bienhechurías">
                    </mat-tab>
                    <mat-tab label="Aprobar Solicitud">
                    </mat-tab>
                </mat-tab-group>
            </mat-card-content>
        </mat-card>
    </div>
</div>
