<section id="main">
    <aside id="sidebar">
        <div class="sidebar-inner c-overflow" tabindex="1" style="overflow: hidden; outline: none;">
            <div class="profile-menu">
                <a href="http://byrushan.com/projects/ma/1-5-1/jquery/widget-templates.html">
                    <div class="profile-pic">
                        <img src="assets/images/1.jpg" alt="">
                    </div>

                    <div class="profile-info">
                        Malinda Hollaway

                        <i class="zmdi zmdi-arrow-drop-down"></i>
                    </div>
                </a>

                <ul class="main-menu">
                    <li>
                        <a href="http://byrushan.com/projects/ma/1-5-1/jquery/profile-about.html"><i class="zmdi zmdi-account"></i> View Profile</a>
                    </li>
                    <li>
                        <a href="http://byrushan.com/projects/ma/1-5-1/jquery/widget-templates.html"><i class="zmdi zmdi-input-antenna"></i> Privacy Settings</a>
                    </li>
                    <li>
                        <a href="http://byrushan.com/projects/ma/1-5-1/jquery/widget-templates.html"><i class="zmdi zmdi-settings"></i> Settings</a>
                    </li>
                    <li>
                        <a routerLink="/login"><i class="zmdi zmdi-time-restore"></i> Logout</a>
                    </li>
                </ul>
            </div>

            <ul class="main-menu">
                <li>
                    <a href="http://byrushan.com/projects/ma/1-5-1/jquery/index.html">
                        <i class="zmdi zmdi-home"></i>
                        Home
                    </a>
                </li>
                <li *ngFor="let menu of rutasUsuario" routerLinkActive="active" [class.sub-menu]="menu.hasChildren">
                    <a href="#">
                        <i class="{{menu.class}}"></i> {{menu.title}}
                    </a>

                    <ul *ngIf="menu.hasChildren">
                        <li *ngFor="let menuItem of menu.routes">
                            <i class="{{menuItem.class}}"></i>
                            <a class="active" [routerLink]="menuItem.path">
                                {{menuItem.title}}
                            </a>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </aside>

    <section id="content">
        <div class="container">
            <router-outlet></router-outlet>
        </div>
    </section>
</section>
