<form [formGroup]="form"(submit)="insertarPersona()">
    <h1 mat-dialog-title style="margin: 0 0">{{insertar?'Nueva Persona':'Modificar Persona'}}
        <button type="button" mat-icon-button class="close-button" (click)="onNoClick()">
            <mat-icon style="font-size: 25px">close</mat-icon>
        </button>
        <hr>
    </h1>
    <div mat-dialog-content style="min-height: 7em;">
        <mat-radio-group class="example-radio-group" formControlName="tipoPersona" [value]="form.get('tipoPersona').value">
            <mat-radio-button value="Natural" (click)="selectTipoPersona('Natural')">Natural</mat-radio-button>
            <mat-radio-button value="Juridica"(click)="selectTipoPersona('Juridica')">Juridica</mat-radio-button>
        </mat-radio-group>
        <div>
            <mat-form-field>
                <input #input matInput maxlength="11" placeholder="CI" formControlName="ci">
                <mat-error *ngIf="form.controls['ci'].errors?.required">
                    Debe insertar el NIT de la persona.
                </mat-error>
                <mat-hint align="end">{{input.value?.length || 0}}/11</mat-hint>
            </mat-form-field>
            <mat-form-field>
                <input matInput placeholder="Nombre" formControlName="nombre">
                <mat-error *ngIf="form.controls['nombre'].errors?.required">
                    Debe insertar el Nombre de la persona.
                </mat-error>
            </mat-form-field>
            <mat-form-field>
                <input matInput placeholder="Primer Apellido" formControlName="primerApellido">
                <mat-error *ngIf="form.controls['primerApellido'].errors?.required">
                    Debe insertar el primer Apellido de la persona.
                </mat-error>
            </mat-form-field>
            <mat-form-field>
                <input matInput placeholder="Segundo Apellido" formControlName="segundoApellido">
                <mat-error *ngIf="form.controls['segundoApellido'].errors?.required">
                    Debe insertar el segundo Apellido de la persona.
                </mat-error>
            </mat-form-field>
        </div>
        <div *ngIf="form.get('tipoPersona').value == 'Natural'">
            <mat-radio-group class="example-radio-group" formControlName="sexo">
                <mat-radio-button value="M">Masculino</mat-radio-button>
                <mat-radio-button value="F">Femenino</mat-radio-button>
            </mat-radio-group>
            <mat-form-field>
                <input matInput placeholder="Dirección Particular" formControlName="dirParticular">
            </mat-form-field>
            <mat-form-field class="middle-width">
                <input matInput [matDatepicker]="nacimentoDatePicker" formControlName="fechaNacimiento" placeholder="Fecha de Nacimiento">
                <mat-datepicker-toggle matSuffix [for]="nacimentoDatePicker"></mat-datepicker-toggle>
                <mat-datepicker #nacimentoDatePicker [startAt]="startDate"></mat-datepicker>
            </mat-form-field>
            <mat-form-field>
                <input #inputTM matInput type="number" maxlength="8" placeholder="Teléfono Movil" formControlName="movil">
                <mat-hint align="end">{{inputTM.value?.length || 0}}/8</mat-hint>
            </mat-form-field>
            <mat-form-field>
                <input #inputTF matInput type="number" maxlength="8" placeholder="Teléfono Fijo" formControlName="telFijo">
                <mat-hint align="end">{{inputTF.value?.length || 0}}/8</mat-hint>
            </mat-form-field>
            <mat-form-field>
                <mat-select matInput placeholder="Situacion Laboral" formControlName="situacionLaboral" >
                    <mat-option value="Trabajador estatal">Trabajador estatal</mat-option>
                    <mat-option value="Trabajador no estatal">Trabajador no estatal</mat-option>
                    <mat-option value="Trabajador por CP">Trabajdor por cuenta propia</mat-option>
                    <mat-option value="Sin vinculo labora">Sin vinculo labora</mat-option>
                    <mat-option value="Juvilados">Juvilados</mat-option>
                    <mat-option value="Estudiantes">Estudiantes</mat-option>
                    <mat-option value="Desmovilizados SMG">Desmovilizados SMG</mat-option>
                </mat-select>
            </mat-form-field>
        </div>
        <div *ngIf="form.get('tipoPersona').value == 'Juridica'">
            <mat-form-field>
                <input matInput placeholder="Dirección Particular" formControlName="dirParticular">
            </mat-form-field>
            <mat-form-field>
                <input #inputTE matInput type="number" maxlength="8" placeholder="Teléfono De la Entidad" formControlName="telFijo">
                <mat-hint align="end">{{inputTE.value?.length || 0}}/8</mat-hint>
            </mat-form-field>
        </div>
        <div>
            <mat-form-field class="full-width">
                <mat-select matInput placeholder="Seleccione La Entidad A Vincular" formControlName="asociado" [compareWith]="compararPersonas">
                    <mat-option *ngFor="let persona of personas" [value]="persona">
                        {{persona|persona}}
                    </mat-option>
                </mat-select>
                <mat-error *ngIf="form.controls['asociado'].errors?.required">Debe vincular a una Entidad.</mat-error>
            </mat-form-field>
            <button *ngIf="form.get('tipoPersona').value =='Natural'" mat-mini-fab color="primary" (click)="abrirVentana()" matTooltip="Nueva Persona Juridica">
                <mat-icon style="font-size: 25px">add</mat-icon>
            </button>
        </div>
    </div>
    <div mat-dialog-actions class="boton-theme">
        <span class="spacer"></span>
        <button type="submit" mat-raised-button cdkFocusInitial color="primary">
            <mat-icon>check_circle</mat-icon>
            {{insertar?'Guardar':'Modificar'}}
        </button>
        <button type="button" mat-raised-button (click)="onNoClick()" color="warn">
            <mat-icon>cancel</mat-icon>
            Cancelar
        </button>
    </div>
</form>
