<h2 mat-dialog-title style="margin: 0 0">{{insertar?'Nueva Solicitud':'Modificar Solicitud'}}
    <button type="button" mat-icon-button class="close-button" (click)="onNoClick()">
        <mat-icon style="font-size: 25px">close</mat-icon>
    </button>
    <hr>
</h2>

<form [formGroup]="formSolicitud" (submit)="insertarSolicitud()">
    <mat-horizontal-stepper [linear]="true" #stepper [selectedIndex]="indexStepper" (selectionChange)="selectionChange($event)">
        <mat-step [stepControl]="formSolicitud">
            <ng-template matStepLabel>Datos de la solicitud</ng-template>
            <form [formGroup]="formSolicitud">
                <div class="row">
                    <div class="col-xs-2">
                        <div class="fg-line form-group">
                            <mat-radio-group class="example-radio-group" formControlName="tipoSolicitud">
                                <mat-radio-button value="Nueva">Nueva</mat-radio-button>
                                <mat-radio-button value="Ampliacion">Ampliacion</mat-radio-button>
                            </mat-radio-group>
                        </div>
                    </div>
                    <div class="col-xs-3">
                        <div class="fg-line form-group">
                            <mat-form-field>
                                <input type="number" matInput #input placeholder="Numero de Solicitud" formControlName="numExpediente">
                                <mat-error *ngIf="formSolicitud.controls['numExpediente'].errors?.required">Debe insertar el numero de la solicitud</mat-error>
                            </mat-form-field>
                        </div>
                    </div>
                    <div class="col-xs-3">
                        <div class="fg-line form-group">
                            <mat-form-field>
                                <input type="number" matInput #input placeholder="Área Solicitada(Ha)" formControlName="areaSolicitada">
                                <mat-error *ngIf="formSolicitud.controls['areaSolicitada'].errors?.required">Debe insertar el área solicitada</mat-error>
                            </mat-form-field>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12">
                        <div class="fg-line form-group">
                            <p class="c-black f-500">Equipos, animales productivos o de trabajo por categoría, aperos de labranza, herramientas y otros bienes que posee para el trabajo de la tierra solicitada.</p>
                            <mat-form-field class="full-width">
                                <textarea matInput placeholder="Describir" formControlName="detallesMT"></textarea>
                                <mat-error *ngIf="formSolicitud.controls['detallesMT'].errors?.required">Debe llenar el campo</mat-error>
                            </mat-form-field>
                        </div>
                    </div>
                </div>
            </form>
        </mat-step>
        <mat-step [stepControl]="formPersona">
            <ng-template matStepLabel>Datos del solicitante</ng-template>
            <mat-tab-group dynamicHeight>
                <mat-tab label="Solicitante">
                    <form [formGroup]="formPersona">
                        <div class="row">
                            <div class="col-xs-2">
                                <div class="fg-line form-group">
                                    <mat-radio-group class="example-radio-group" formControlName="tipoPersona" [value]="formPersona.controls['tipoPersona'].value">
                                        <mat-radio-button value="Natural">Natural</mat-radio-button>
                                        <mat-radio-button value="Juridica">Juridica</mat-radio-button>
                                    </mat-radio-group>
                                </div>
                            </div>
                            <div class="col-xs-3">
                                <div class="fg-line form-group">
                                    <mat-form-field class="full-width">
                                        <mat-select matInput placeholder="Seleccione el consejo popular" formControlName="consejoPopular" [compareWith]="compararConsejoPopulares">
                                            <mat-option *ngFor="let consejoP of consejoPopulares" [value]="consejoP">
                                                {{consejoP.nombre}}
                                            </mat-option>
                                        </mat-select>
                                        <mat-error *ngIf="formPersona.controls['consejoPopular'].errors?.required">Debe seleccionar el consejo popular.</mat-error>
                                    </mat-form-field>
                                </div>
                            </div>
                        </div>
                        <div class="row" *ngIf="formPersona.value.tipoPersona == 'Natural'">
                            <div class="col-xs-12">
                                <div class="fg-line form-group">
                                    <p class="c-black f-500">Seleccione la organización a la que pertenece:</p>
                                    <section>
                                        <mat-checkbox *ngFor="let organizacion of organizaciones" [checked]="organizacion.activo" (change)="$event.checked ? agregarIntgra(organizacion.name) : quitarIntgra(organizacion.name)"  class="checkbox-inline">{{organizacion.name}} </mat-checkbox>
                                    </section>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-3">
                                <mat-form-field>
                                    <input  #inputCIP matInput maxlength="11" placeholder="CI" formControlName="ci">
                                    <mat-error *ngIf="formPersona.controls['ci'].errors?.required">
                                        Debe insertar el NIT de la persona.
                                    </mat-error>
                                    <mat-error *ngIf="formPersona.controls['ci'].errors?.minlength">
                                        El CI no puede ser menor de 11 dijitos.
                                    </mat-error>
                                    <mat-hint align="end">{{inputCIP.value?.length || 0}}/11</mat-hint>
                                </mat-form-field>
                            </div>
                            <div class="col-xs-3">
                                <mat-form-field>
                                    <input matInput placeholder="Nombre" formControlName="nombre">
                                    <mat-error *ngIf="formPersona.controls['nombre'].errors?.required">
                                        Debe insertar el Nombre de la persona.
                                    </mat-error>
                                </mat-form-field>
                            </div>
                            <div class="col-xs-3">
                                <mat-form-field>
                                    <input matInput placeholder="Primer Apellido" formControlName="primerApellido">
                                    <mat-error *ngIf="formPersona.controls['primerApellido'].errors?.required">
                                        Debe insertar el primer Apellido de la persona.
                                    </mat-error>
                                </mat-form-field>
                            </div>
                            <div class="col-xs-3">
                                <mat-form-field>
                                    <input matInput placeholder="Segundo Apellido" formControlName="segundoApellido">
                                    <mat-error *ngIf="formPersona.controls['segundoApellido'].errors?.required">
                                        Debe insertar el segundo Apellido de la persona.
                                    </mat-error>
                                </mat-form-field>
                            </div>
                        </div>
                        <div class="row" *ngIf="formPersona.value.tipoPersona == 'Natural'">
                            <div class="col-xs-6">
                                <mat-form-field class="full-width">
                                    <input matInput placeholder="Dirección Particular" formControlName="dirParticular">
                                    <mat-error *ngIf="formPersona.controls['dirParticular'].errors?.required">
                                        Debe insertar la direccion de particular.
                                    </mat-error>
                                </mat-form-field>
                            </div>
                            <div class="col-xs-4">
                                <mat-form-field class="full-width">
                                    <input #inputTF matInput type="number" maxlength="8" placeholder="Teléfono Fijo" formControlName="telFijo">
                                    <mat-hint align="end">{{inputTF.value?.length || 0}}/8</mat-hint>
                                </mat-form-field>
                            </div>
                            <div class="col-xs-4">
                                <mat-form-field class="full-width">
                                    <input #inputTM matInput type="number" maxlength="8" placeholder="Teléfono Movil" formControlName="movil">
                                    <mat-hint align="end">{{inputTM.value?.length || 0}}/8</mat-hint>
                                </mat-form-field>
                            </div>
                            <div class="col-xs-4">
                                <mat-form-field class="full-width">
                                    <mat-select matInput placeholder="Situacion Laboral" formControlName="situacionLaboral">
                                        <mat-option value="Trabajador estatal">Trabajador estatal</mat-option>
                                        <mat-option value="Trabajador no estatal">Trabajador no estatal</mat-option>
                                        <mat-option value="Trabajador por CP">Trabajdor por cuenta propia</mat-option>
                                        <mat-option value="Sin vinculo labora">Sin vinculo labora</mat-option>
                                        <mat-option value="Juvilados">Juvilados</mat-option>
                                        <mat-option value="Estudiantes">Estudiantes</mat-option>
                                        <mat-option value="Desmovilizados SMG">Desmovilizados SMG</mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </div>
                        </div>
                        <div class="row" *ngIf="formPersona.value.tipoPersona == 'Juridica'">
                            <div class="col-xs-9">
                                <mat-form-field class="full-width">
                                    <input matInput placeholder="Dirección Particular" formControlName="dirParticular">
                                    <mat-error *ngIf="formPersona.controls['dirParticular'].errors?.required">
                                        Debe insertar la direccion de la entidad.
                                    </mat-error>
                                </mat-form-field>
                            </div>
                            <div class="col-xs-3">
                                <mat-form-field>
                                    <input #inputTF matInput type="number" maxlength="8" placeholder="Teléfono De la Entidad" formControlName="telFijo">
                                    <mat-hint align="end">{{inputTF.value?.length || 0}}/8</mat-hint>
                                </mat-form-field>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12">
                                <mat-form-field class="full-width">
                                    <mat-select matInput placeholder="Seleccione la entiodad a vincular" formControlName="asociado" [compareWith]="compararPersonas">
                                        <mat-option *ngFor="let persona of personas" [value]="persona">
                                            {{persona|persona}}
                                        </mat-option>
                                    </mat-select>
                                    <mat-error *ngIf="formPersona.controls['dirParticular'].errors?.required">Debe seleccionar un organismo a para vincular.</mat-error>
                                </mat-form-field>
                                <button *ngIf="formPersona.controls['tipoPersona'].value =='Natural'" mat-mini-fab color="primary" (click)="abrirVentana()" matTooltip="Nueva Persona Juridica">
                                    <mat-icon style="font-size: 25px">add</mat-icon>
                                </button>
                            </div>
                        </div>
                    </form>
                </mat-tab>
                <mat-tab label="Ayuda Familiar">
                    <form [formGroup]="formPersonaAyuda" (submit)="addPersonaAyuda()">
                        <div class="row">
                            <div class="col-xs-3">
                                <mat-form-field>
                                    <input  #input matInput maxlength="11" placeholder="CI" formControlName="ci">
                                    <mat-error *ngIf="formPersonaAyuda.controls['ci'].errors?.required">
                                        Debe insertar el NIT de la persona.
                                    </mat-error>
                                    <mat-error *ngIf="formPersonaAyuda.controls['ci'].errors?.minlength">
                                        El CI no puede ser menor de 11 dijitos.
                                    </mat-error>
                                    <mat-hint align="end">{{input.value?.length || 0}}/11</mat-hint>
                                </mat-form-field>
                            </div>
                            <div class="col-xs-3">
                                <mat-form-field>
                                    <input matInput placeholder="Nombre" formControlName="nombre">
                                    <mat-error *ngIf="formPersona.controls['nombre'].errors?.required">
                                        Debe insertar el Nombre de la persona.
                                    </mat-error>
                                </mat-form-field>
                            </div>
                            <div class="col-xs-3">
                                <mat-form-field>
                                    <input matInput placeholder="Primer Apellido" formControlName="primerApellido">
                                    <mat-error *ngIf="formPersona.controls['primerApellido'].errors?.required">
                                        Debe insertar el primer Apellido de la persona.
                                    </mat-error>
                                </mat-form-field>
                            </div>
                            <div class="col-xs-3">
                                <mat-form-field>
                                    <input matInput placeholder="Segundo Apellido" formControlName="segundoApellido">
                                    <mat-error *ngIf="formPersona.controls['segundoApellido'].errors?.required">
                                        Debe insertar el segundo Apellido de la persona.
                                    </mat-error>
                                </mat-form-field>
                            </div>
                            <div class="col-xs-2">
                                <mat-form-field class="full-width">
                                    <mat-select matInput placeholder="Parentesco" formControlName="parentesco">
                                        <mat-option value="Padre">Padre</mat-option>
                                        <mat-option value="Madre">Madre</mat-option>
                                        <mat-option value="Hijo">Hijo</mat-option>
                                        <mat-option value="Hija">Hija</mat-option>
                                        <mat-option value="Abuelo">Abuelo</mat-option>
                                        <mat-option value="Abuela">Abuela</mat-option>
                                        <mat-option value="Nieto">Nieto</mat-option>
                                        <mat-option value="Tio">Tio</mat-option>
                                        <mat-option value="Tia">Tia</mat-option>
                                        <mat-option value="Sobrino">Sobrino</mat-option>
                                        <mat-option value="Sobrina">Sobrina</mat-option>
                                        <mat-option value="Primo">Primo</mat-option>
                                        <mat-option value="Primo">Prima</mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </div>
                        </div>
                        <button type="submit" mat-mini-fab color="primary" style="margin-right: 10px;" matTooltip="Añadir Persona Ayuda">
                            <mat-icon>add</mat-icon>
                        </button>
                    </form>

                    <!-- Esta tabla muestra los datos de persona ayuda-->
                    <div class="example-container mat-elevation-z8" style="top: 10px;position:relative;">
                        <table mat-table [dataSource]="dataSourcePersonaAyuda">
                            <!-- Position Column -->
                            <ng-container matColumnDef="contador">
                                <th mat-header-cell *matHeaderCellDef>No.</th>
                                <td mat-cell *matCellDef="let element"> {{element.contador}}</td>
                                <!--<td mat-footer-cell *matFooterCellDef><strong> Total</strong></td>-->
                            </ng-container>

                            <!-- Name Column -->
                            <ng-container matColumnDef="ci">
                                <th mat-header-cell *matHeaderCellDef>Carnet de Identidad</th>
                                <td mat-cell *matCellDef="let element"> {{element.ci}}</td>
                                <!--<td mat-footer-cell *matFooterCellDef><strong>{{getTotal()}}</strong></td>-->
                            </ng-container>

                            <!-- Weight Column -->
                            <ng-container matColumnDef="nombre">
                                <th mat-header-cell *matHeaderCellDef>Nombre</th>
                                <td mat-cell *matCellDef="let element"> {{element.nombre}}</td>
                                <!--<td mat-footer-cell *matFooterCellDef></td>-->
                            </ng-container>

                            <!-- Symbol Column -->
                            <ng-container matColumnDef="primerApellido">
                                <th mat-header-cell *matHeaderCellDef>Primer Apellido</th>
                                <td mat-cell *matCellDef="let element"> {{element.primerApellido}}</td>
                                <!--<td mat-footer-cell *matFooterCellDef></td>-->
                            </ng-container>

                            <!-- Symbol Column -->
                            <ng-container matColumnDef="segundoApellido">
                                <th mat-header-cell *matHeaderCellDef>Segundo Apellido</th>
                                <td mat-cell *matCellDef="let element"> {{element.segundoApellido}}</td>
                                <!--<td mat-footer-cell *matFooterCellDef></td>-->
                            </ng-container>

                            <!-- Symbol Column -->
                            <ng-container matColumnDef="parentesco">
                                <th mat-header-cell *matHeaderCellDef>Parentesco</th>
                                <td mat-cell *matCellDef="let element"> {{element.parentesco}}</td>
                                <!--<td mat-footer-cell *matFooterCellDef></td>-->
                            </ng-container>

                            <!-- Symbol Column -->
                            <ng-container matColumnDef="acciones" stickyEnd>
                                <th mat-header-cell *matHeaderCellDef>Acciones</th>
                                <td mat-cell *matCellDef="let element">
                                    <button mat-mini-fab type="button" color="accent" (click)="editParcela($event,element)" matTooltip="Editar Persona Ayuda">
                                        <mat-icon>mode_edit</mat-icon>
                                    </button>
                                </td>
                            </ng-container>

                            <tr mat-header-row *matHeaderRowDef="displayedColumnsPersonaAyuda; sticky: true"></tr>
                            <tr mat-row *matRowDef="let row; columns: displayedColumnsPersonaAyuda;"></tr>
                        </table>
                    </div>
                </mat-tab>
            </mat-tab-group>
        </mat-step>
        <mat-step [stepControl]="formParcela">
            <ng-template matStepLabel>Parcelas</ng-template>
            <form [formGroup]="formParcela" (submit)="addParcela()">
                <input type="hidden" formControlName="contador">

                <div class="row">
                    <div class="col-xs-3">
                        <mat-form-field class="full-width">
                            <input type="number" matInput placeholder="ZC" formControlName="zonaCatastral">
                            <mat-error *ngIf="formParcela.controls['zonaCatastral'].errors?.required">Debe insertar el numero de zona catastral</mat-error>
                        </mat-form-field>
                    </div>
                    <div class="col-xs-3">
                        <mat-form-field class="full-width">
                            <input type="number" matInput placeholder="Parcela" formControlName="parcela">
                            <mat-error *ngIf="formParcela.controls['parcela'].errors?.required">Debe insertar el numero de parcela</mat-error>
                        </mat-form-field>
                    </div>
                    <div class="col-xs-3">
                        <mat-form-field class="full-width">
                            <input type="number" matInput placeholder="División" formControlName="divicion">
                        </mat-form-field>
                    </div>
                    <div class="col-xs-3">
                        <mat-form-field class="full-width">
                            <input type="number" matInput placeholder="Área(Ha)" formControlName="area">
                            <mat-error *ngIf="formParcela.controls['area'].errors?.required">Debe insertar el área de la parcela</mat-error>
                        </mat-form-field>
                    </div>
                </div>

                <div class="row">
                    <div class="col-xs-8">
                        <mat-form-field class="full-width">
                            <input type="text" matInput placeholder="Direccion" formControlName="direccion">
                            <mat-error *ngIf="formParcela.controls['direccion'].errors?.required">Debe proporcionar la dirección de la parcela</mat-error>
                        </mat-form-field>
                    </div>
                    <div class="col-xs-4">
                        <mat-form-field class="full-width">
                            <input type="text" matInput placeholder="Condición Actual" formControlName="condicActual">
                        </mat-form-field>
                    </div>
                </div>

                <div class="row">
                    <div class="col-xs-3">
                        <mat-form-field class="full-width">
                            <input type="text" matInput placeholder="Limite Norte" formControlName="limiteN">
                        </mat-form-field>

                    </div>
                    <div class="col-xs-3">
                        <mat-form-field class="full-width">
                            <input type="text" matInput placeholder="Limite Sur" formControlName="limiteS">
                        </mat-form-field>
                    </div>
                    <div class="col-xs-3">
                        <mat-form-field  class="full-width">
                            <input type="text" matInput placeholder="Limite Este" formControlName="limiteE">
                        </mat-form-field>
                    </div>
                    <div class="col-xs-3">
                        <mat-form-field class="full-width">
                            <input type="text" matInput placeholder="Limite Oeste" formControlName="limiteW">
                        </mat-form-field>
                    </div>
                </div>

                <button type="submit" mat-mini-fab color="primary" style="margin-right: 10px;" matTooltip="Añadir Parcela">
                    <mat-icon>add</mat-icon>
                </button>
            </form>
            <div class="example-container mat-elevation-z8" style="top: 10px;position:relative;">
                <table mat-table [dataSource]="dataSourceParcela">
                    <!-- Position Column -->
                    <ng-container matColumnDef="contador">
                        <th mat-header-cell *matHeaderCellDef>No.</th>
                        <td mat-cell *matCellDef="let element"> {{element.contador}}</td>
                        <!--<td mat-footer-cell *matFooterCellDef><strong> Total</strong></td>-->
                    </ng-container>

                    <!-- Name Column -->
                    <ng-container matColumnDef="zonaCatastral">
                        <th mat-header-cell *matHeaderCellDef> ZC</th>
                        <td mat-cell *matCellDef="let element"> {{element.zonaCatastral}}</td>
                        <!--<td mat-footer-cell *matFooterCellDef><strong>{{getTotal()}}</strong></td>-->
                    </ng-container>

                    <!-- Weight Column -->
                    <ng-container matColumnDef="parcela">
                        <th mat-header-cell *matHeaderCellDef>Parcela</th>
                        <td mat-cell *matCellDef="let element"> {{element.parcela}}</td>
                        <!--<td mat-footer-cell *matFooterCellDef></td>-->
                    </ng-container>

                    <!-- Symbol Column -->
                    <ng-container matColumnDef="divicion">
                        <th mat-header-cell *matHeaderCellDef>Divicion</th>
                        <td mat-cell *matCellDef="let element"> {{element.divicion}}</td>
                        <!--<td mat-footer-cell *matFooterCellDef></td>-->
                    </ng-container>

                    <!-- Symbol Column -->
                    <ng-container matColumnDef="area">
                        <th mat-header-cell *matHeaderCellDef>Área</th>
                        <td mat-cell *matCellDef="let element"> {{element.area}}</td>
                        <!--<td mat-footer-cell *matFooterCellDef></td>-->
                    </ng-container>

                    <!-- Symbol Column -->
                    <ng-container matColumnDef="acciones" stickyEnd>
                        <th mat-header-cell *matHeaderCellDef>Acciones</th>
                        <td mat-cell *matCellDef="let element">
                            <button mat-mini-fab type="button" color="accent" (click)="editParcela($event,element)" matTooltip="Editar Parcela">
                                <mat-icon>mode_edit</mat-icon>
                            </button>
                        </td>
                        <!--<td mat-footer-cell *matFooterCellDef></td>-->
                    </ng-container>

                    <tr mat-header-row *matHeaderRowDef="displayedColumnsParcela; sticky: true"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumnsParcela;"></tr>
                    <!--<tr mat-footer-row *matFooterRowDef="displayedColumnsParcela; sticky: true"></tr>-->
                </table>
            </div>
        </mat-step>
        <mat-step [stepControl]="formLineaProduccion">
            <ng-template matStepLabel>Linea de Produccion</ng-template>

            <form [formGroup]="formLineaProduccion" (submit)="addLineasProduccion()">
                <input type="hidden" formControlName="contador">
                <div class="row">
                    <div class="col-xs-3">
                        <mat-form-field class="full-width">
                            <mat-select matInput placeholder="Linea de producción" formControlName="lineaDeProduccion">
                                <mat-option value="Cultivos Varios">Cultivos Varios</mat-option>
                                <mat-option value="Ganado Mayor">Ganado Mayor</mat-option>
                                <mat-option value="Ganado Menor">Ganado  Menor</mat-option>
                                <mat-option value="Caña">Caña</mat-option>
                                <mat-option value="Frutales">Frutales</mat-option>
                                <mat-option value="Arroz">Arroz</mat-option>
                                <mat-option value="Forestal">Forestal</mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                    <div class="col-xs-3">
                        <mat-form-field>
                            <input matInput #areaDedi placeholder="Área dedicada(Ha)" formControlName="areaDedicada">
                            <mat-error *ngIf="formLineaProduccion.controls['areaDedicada'].errors?.required">Debe insertar el área solicitada</mat-error>
                        </mat-form-field>
                    </div>
                </div>
                <button type="submit" mat-mini-fab color="primary" style="margin-right: 10px;" matTooltip="Añadir Linea de Produccion">
                    <mat-icon>add</mat-icon>
                </button>
            </form>
            <div class="example-container mat-elevation-z8" style="top: 10px;position:relative;">
                <table mat-table [dataSource]="dataSourceLinea">

                    <!-- Position Column -->
                    <ng-container matColumnDef="contador">
                        <th mat-header-cell *matHeaderCellDef>No.</th>
                        <td mat-cell *matCellDef="let element"> {{element.contador}}</td>
                        <!--<td mat-footer-cell *matFooterCellDef><strong> Total</strong></td>-->
                    </ng-container>

                    <!-- Position Column -->
                    <ng-container matColumnDef="lineaDeProduccion">
                        <th mat-header-cell *matHeaderCellDef> Linea de producción</th>
                        <td mat-cell *matCellDef="let element"> {{element.lineaDeProduccion}}</td>
                        <!--<td mat-footer-cell *matFooterCellDef><strong> Total</strong></td>-->
                    </ng-container>

                    <!-- Name Column -->
                    <ng-container matColumnDef="areaDedicada">
                        <th mat-header-cell *matHeaderCellDef> Área Dedicada(Ha)</th>
                        <td mat-cell *matCellDef="let element"> {{element.areaDedicada}}</td>
                        <!--<td mat-footer-cell *matFooterCellDef><strong>{{getTotal()}}</strong></td>-->
                    </ng-container>

                    <!-- Symbol Column -->
                    <ng-container matColumnDef="acciones" stickyEnd>
                        <th mat-header-cell *matHeaderCellDef> Acciones</th>
                        <td mat-cell *matCellDef="let element">
                            <button mat-mini-fab type="button" color="accent" (click)="editParcela($event,element)" [matTooltip]="'Editar Linea de Produccion - ' + element.lineaDeProduccion">
                                <mat-icon>mode_edit</mat-icon>
                            </button>
                        </td>
                        <!--<td mat-footer-cell *matFooterCellDef></td>-->
                    </ng-container>

                    <tr mat-header-row *matHeaderRowDef="displayedColumnsLinea; sticky: true"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumnsLinea;"></tr>
                    <!--<tr mat-footer-row *matFooterRowDef="displayedColumnsParcela; sticky: true"></tr>-->
                </table>
            </div>
        </mat-step>
    </mat-horizontal-stepper>
    <div mat-dialog-actions class="boton-theme">
        <span class="spacer"></span>
        <button type="button" mat-raised-button *ngIf="indexStepper!=0" (click)="controlStepper(stepper, false)">
            Back
        </button>
        <button type="button" mat-raised-button *ngIf="indexStepper!=3" (click)="controlStepper(stepper, true)">
            Next
        </button>

        <button *ngIf="indexStepper==3" type="submit" mat-raised-button cdkFocusInitial color="primary">
            <mat-icon>check_circle</mat-icon>
            {{insertar?'Guardar':'Modificar'}}
        </button>
        <button type="button" mat-raised-button (click)="onNoClick()" color="warn">
            <mat-icon>cancel</mat-icon>
            Cancelar
        </button>
    </div>
</form>

