<form [formGroup]="formSolici"(submit)="insertarSolicitud()">
    <h1 mat-dialog-title style="margin: 0 0">{{insertar?'Nueva Solicitud':'Modificar Solicitud'}}
        <button type="button" mat-icon-button class="close-button" (click)="onNoClick()">
            <mat-icon style="font-size: 25px">close</mat-icon>
        </button>
        <hr>
    </h1>
    <div mat-dialog-content style="min-height: 7em;">
        <mat-horizontal-stepper [linear]="isLinear" #stepper>
            <mat-step [stepControl]="formSolici">
                <ng-template matStepLabel>Datos de la solicitud</ng-template>
                <form [formGroup]="formSolici">
                    <mat-radio-group class="example-radio-group" formControlName="tipoSolicitud">
                        <mat-radio-button value="Nueva">Nueva</mat-radio-button>
                        <mat-radio-button value="Ampliacion">Ampliacion</mat-radio-button>
                    </mat-radio-group>
                    <mat-form-field>
                        <input type="number" matInput #input placeholder="Numero de Solicitud" formControlName="numExpediente">
                        <mat-error *ngIf="formSolici.controls['numExpediente'].errors?.required">Debe insertar el numero de la solicitud</mat-error>
                    </mat-form-field>
                    <mat-form-field>
                        <input type="number" matInput #input placeholder="Área Solicitada(Ha)" formControlName="areaSolicitada">
                        <mat-error *ngIf="formSolici.controls['areaSolicitada'].errors?.required">Debe insertar el área solicitada</mat-error>
                    </mat-form-field>
                    <div>
                        <button mat-button matStepperNext>Next</button>
                    </div>
                </form>
            </mat-step>
            <mat-step [stepControl]="persona">
                <ng-template matStepLabel>Datos del solicitante</ng-template>

                <div formGroupName="persona">
                    <mat-radio-group class="example-radio-group" formControlName="tipoPersona" [value]="selected">
                        <mat-radio-button value="Natural" (click)="selectTipoPersona('Natural')">Natural</mat-radio-button>
                        <mat-radio-button value="Juridica"(click)="selectTipoPersona('Juridica')">Juridica</mat-radio-button>
                    </mat-radio-group>
                    <mat-form-field>
                        <input matInput maxlength="11" placeholder="CI" formControlName="ci">
                    </mat-form-field>
                    <mat-form-field>
                        <input matInput placeholder="Nombre" formControlName="nombre">
                    </mat-form-field>
                    <mat-form-field>
                        <input matInput placeholder="Primer Apellido" formControlName="primerApellido">
                    </mat-form-field>
                    <mat-form-field>
                        <input matInput placeholder="Segundo Apellido" formControlName="segundoApellido">
                    </mat-form-field>
                    <p>tipo de persona{{selected}}</p>
                    <div *ngIf="formSolici.get('persona').get('tipoPersona').value == 'Natural'">
                        <mat-radio-group class="example-radio-group" formControlName="sexo">
                            <mat-radio-button value="M">Masculino</mat-radio-button>
                            <mat-radio-button value="F">Femenino</mat-radio-button>
                        </mat-radio-group>
                        <mat-form-field>
                            <input matInput placeholder="Dirección Particular" formControlName="dirParticular">
                        </mat-form-field>
                        <mat-form-field>
                            <input matInput [matDatepicker]="picker" placeholder="Fecha de Nacimiento" formControlName="fechaDeNacimiento">
                            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                            <mat-datepicker #picker startView="year" [startAt]="startDate"></mat-datepicker>
                        </mat-form-field>
                        <mat-form-field>
                            <input matInput type="number" maxlength="8" placeholder="Teléfono Movil" formControlName="movil">
                        </mat-form-field>
                        <mat-form-field>
                            <input matInput type="number" maxlength="8" placeholder="Teléfono Fijo" formControlName="telFijo">
                        </mat-form-field>
                        <mat-form-field>
                            <mat-select matInput placeholder="Situacion Laboral" formControlName="situacionLaboral" >
                                <mat-option value="Trabajador estatal">Trabajador estatal</mat-option>
                                <mat-option value="Trabajador no estatal">Trabajador no estatal</mat-option>
                                <mat-option value="Trabajador por CP">Trabajdor por cuenta propia</mat-option>
                                <mat-option value="Sin vinculo labora">Sin vinculo labora</mat-option>
                                <mat-option value="Juvilados">Juvilados</mat-option>
                                <mat-option value="Estudiantes">Estudiantes</mat-option>
                                <mat-option value="Desmovilizados SMG">Desmovilizados SMG</mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                    <div *ngIf="formSolici.get('persona').get('tipoPersona').value == 'Juridica'">
                        <mat-form-field>
                            <input matInput placeholder="Dirección Particular" formControlName="dirParticular">
                        </mat-form-field>
                        <mat-form-field>
                            <input matInput type="number" maxlength="8" placeholder="Teléfono De la Entidad" formControlName="telFijo">
                        </mat-form-field>
                    </div>
                </div>
                    <div>
                        <button mat-button matStepperPrevious>Back</button>
                        <button mat-button matStepperNext>Next</button>
                    </div>
            </mat-step>
            <mat-step [stepControl]="parcelas">
                <ng-template matStepLabel>Parcelas</ng-template>
                <div formArrayName="parcelas">
                    <div *ngFor="let parcela of parcelasForm.controls; let i=index"
                         [formGroupName]="i">
                        <mat-form-field>
                            <input matInput placeholder="Limite Norte" formControlName="limiteN" required>
                        </mat-form-field>
                        <mat-form-field>
                            <input matInput placeholder="Limite Sur" formControlName="limiteS" required>
                        </mat-form-field>
                        <mat-form-field>
                            <input matInput placeholder="Limite Este" formControlName="limiteE" required>
                        </mat-form-field>
                        <mat-form-field>
                            <input matInput placeholder="Limite Oeste" formControlName="limiteW" required>
                        </mat-form-field>
                        <button mat-mini-fab color="warn" (click)="deleteParcela(i)" [matTooltip]="'Eliminar parcela - '+ (i+1)">
                            <mat-icon style="font-size: 25px">remove</mat-icon>
                        </button>
                    </div>
                    <button mat-mini-fab color="warn" (click)="addParcela(i)" [matTooltip]="'Nueva parcela'">
                        <mat-icon style="font-size: 25px">add</mat-icon>
                    </button>
                    <div>
                        <button mat-button matStepperPrevious>Back</button>
                        <button mat-button matStepperNext>Next</button>
                    </div>
                </div>
            </mat-step>
            <mat-step>
                <ng-template matStepLabel>Linea de Produccion</ng-template>
                <div formArrayName="lineasDeProduccion">
                    <div *ngFor="let lineaDeProduccion of lineasDeProduccionForm.controls; let i=index"
                         [formGroupName]="i">
                        <mat-form-field>
                            <input matInput placeholder="Linea de Produccion" formControlName="lineaDeProduccion" required>
                        </mat-form-field>
                        <mat-form-field>
                            <input type="number" matInput placeholder="Área Dedicada" formControlName="areaDedicada" required>
                        </mat-form-field>
                        <button mat-mini-fab color="warn" (click)="deleteLineasDeProduccion(i)" [matTooltip]="'Eliminar linea de produccion - '+ (i+1)">
                            <mat-icon style="font-size: 25px">remove</mat-icon>
                        </button>
                    </div>
                    <button mat-mini-fab color="warn" (click)="addLineasDeProduccion(i)" [matTooltip]="'Nueva linea de produccion'">
                        <mat-icon style="font-size: 25px">add</mat-icon>
                    </button>
                </div>
                <div>
                    <button mat-button matStepperPrevious>Back</button>
                </div>
            </mat-step>
        </mat-horizontal-stepper>
    </div>
    <div mat-dialog-actions class="boton-theme">
        <span class="spacer"></span>
        <button type="submit" mat-raised-button cdkFocusInitial color="primary">
            <mat-icon>check_circle</mat-icon>
            {{insertar?'Guardar':'Modificar'}}
        </button>
        <button type="button" mat-raised-button (click)="onNoClick()" color="warn">
            <mat-icon>cancel</mat-icon>
            Cancelar
        </button>
    </div>
</form>
