<div class="card">
    <div class="card-header ch-alt m-b-20 bgm-green">
        <h2>Informacion de la Solicitud {{numeroExpediente}}
            <small>Muestra el detalle de la solicitude seleccionada</small>
        </h2>
        <button type="button" mat-icon-button class="close-button" (click)="onNoClick()">
            <mat-icon style="font-size: 25px">close</mat-icon>
        </button>
    </div>
    <mat-dialog-content>
        <mat-card class="example-card">
            <mat-card-title>
                <div class="card-header ch-alt m-b-20 bgm-blue" style="padding: 10px 10px;">
                    <h2>Datos del solicitante.
                        <small>Muestra los datos del solicitante</small>
                    </h2>
                </div>
            </mat-card-title>
            <mat-card-content>
                <table mat-table [dataSource]="solicitante" style="width: 100%">
                    <ng-container matColumnDef="index">
                        <th mat-header-cell *matHeaderCellDef> No.</th>
                        <td mat-cell *matCellDef="let element;let i = index"> {{i+1}}</td>
                    </ng-container>

                    <ng-container matColumnDef="nombre">
                        <th mat-header-cell *matHeaderCellDef> Nombre </th>
                        <td mat-cell *matCellDef="let element"> {{element.nombre}} </td>
                    </ng-container>

                    <ng-container matColumnDef="primerApellido">
                        <th mat-header-cell *matHeaderCellDef> Primer Apellido </th>
                        <td mat-cell *matCellDef="let element"> {{element.primerApellido}} </td>
                    </ng-container>

                    <ng-container matColumnDef="segundoApellido">
                        <th mat-header-cell *matHeaderCellDef> Segundo Apellido </th>
                        <td mat-cell *matCellDef="let element"> {{element.segundoApellido}} </td>
                    </ng-container>

                    <ng-container matColumnDef="sexo">
                        <th mat-header-cell *matHeaderCellDef>Sexo</th>
                        <td mat-cell *matCellDef="let element"> {{element.sexo}} </td>
                    </ng-container>

                    <ng-container matColumnDef="dirParticular">
                        <th mat-header-cell *matHeaderCellDef> Dirección Particular </th>
                        <td mat-cell *matCellDef="let element"> {{element.dirParticular}} </td>
                    </ng-container>

                    <!-- Name Column -->
                    <ng-container matColumnDef="movil">
                        <th mat-header-cell *matHeaderCellDef> Movil </th>
                        <td mat-cell *matCellDef="let element"> {{element.movil}} </td>
                    </ng-container>

                    <!-- Weight Column -->
                    <ng-container matColumnDef="telFijo">
                        <th mat-header-cell *matHeaderCellDef> Telefono Fijo </th>
                        <td mat-cell *matCellDef="let element"> {{element.telFijo}} </td>
                    </ng-container>

                    <ng-container matColumnDef="acciones" stickyEnd>
                        <th mat-header-cell *matHeaderCellDef style="text-align: center;">Acciones</th>
                        <td mat-cell *matCellDef="let element" align="center">
                            <button mat-mini-fab color="accent" (click)="editarParcela($event,element)" [matTooltip]="'Editar Solicitante - ' + element.nombre">
                                <mat-icon>mode_edit</mat-icon>
                            </button>
                            <button mat-mini-fab color="warn" (click)="eliminarParcela($event,element)" [matTooltip]="'Eliminar Solicitante - ' + element.nombre">
                                <mat-icon>delete</mat-icon>
                            </button>
                        </td>
                    </ng-container>

                    <tr mat-header-row *matHeaderRowDef="displayedColumnsSolicitante"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumnsSolicitante"></tr>
                </table>
            </mat-card-content>
        </mat-card>
        <mat-card class="example-card">
            <mat-card-title>
                <div class="card-header ch-alt m-b-20 bgm-blue" style="padding: 10px 10px;">
                    <h2>Lista de parcelas solicitadas.
                        <small>Muestra la lista de las parcelas solicitadas</small>
                    </h2>
                </div>
            </mat-card-title>
            <mat-card-content>
                <table mat-table [dataSource]="parcelas" style="width: 100%">
                    <ng-container matColumnDef="index">
                        <th mat-header-cell *matHeaderCellDef> No.</th>
                        <td mat-cell *matCellDef="let element;let i = index"> {{i+1}}</td>
                    </ng-container>

                    <ng-container matColumnDef="zonaCatastral">
                        <th mat-header-cell *matHeaderCellDef> ZC </th>
                        <td mat-cell *matCellDef="let element"> {{element.zonaCatastral}} </td>
                    </ng-container>

                    <ng-container matColumnDef="parcela">
                        <th mat-header-cell *matHeaderCellDef> Parcela </th>
                        <td mat-cell *matCellDef="let element"> {{element.parcela}} </td>
                    </ng-container>

                    <ng-container matColumnDef="divicion">
                        <th mat-header-cell *matHeaderCellDef> Divicion </th>
                        <td mat-cell *matCellDef="let element"> {{element.divicion}} </td>
                    </ng-container>

                    <ng-container matColumnDef="area">
                        <th mat-header-cell *matHeaderCellDef> Área(Ha) </th>
                        <td mat-cell *matCellDef="let element"> {{element.area}} </td>
                    </ng-container>

                    <ng-container matColumnDef="limiteN">
                        <th mat-header-cell *matHeaderCellDef> Limite N </th>
                        <td mat-cell *matCellDef="let element"> {{element.limiteN}} </td>
                    </ng-container>

                    <!-- Name Column -->
                    <ng-container matColumnDef="limiteS">
                        <th mat-header-cell *matHeaderCellDef> Limite S </th>
                        <td mat-cell *matCellDef="let element"> {{element.limiteS}} </td>
                    </ng-container>

                    <!-- Weight Column -->
                    <ng-container matColumnDef="limiteE">
                        <th mat-header-cell *matHeaderCellDef> Limite E </th>
                        <td mat-cell *matCellDef="let element"> {{element.limiteE}} </td>
                    </ng-container>

                    <!-- Symbol Column -->
                    <ng-container matColumnDef="limiteW">
                        <th mat-header-cell *matHeaderCellDef> Limite W </th>
                        <td mat-cell *matCellDef="let element"> {{element.limiteW}} </td>
                    </ng-container>

                    <ng-container matColumnDef="acciones" stickyEnd>
                        <th mat-header-cell *matHeaderCellDef style="text-align: center;">Acciones</th>
                        <td mat-cell *matCellDef="let element" align="center">
                            <button mat-mini-fab color="accent" (click)="editarParcela($event,element)" [matTooltip]="'Editar Parcela - ' + element.zonaCatastral+'/'+element.parcela+'/'+ element.divicion">
                                <mat-icon>mode_edit</mat-icon>
                            </button>
                            <button mat-mini-fab color="warn" (click)="eliminarParcela($event,element)" [matTooltip]="'Eliminar Parcela - ' + element.zonaCatastral+'/'+element.parcela+'/'+ element.divicion">
                                <mat-icon>delete</mat-icon>
                            </button>
                        </td>
                    </ng-container>

                    <tr mat-header-row *matHeaderRowDef="displayedColumnsParcela"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumnsParcela"></tr>
                </table>
            </mat-card-content>
        </mat-card>
        <mat-card class="example-card">
            <mat-card-title>
                <div class="card-header ch-alt m-b-20 bgm-blue" style="padding: 10px 10px;">
                    <h2>Lista de las lineas de producción.
                        <small>Muestra la lista de las lineas de producción</small>
                    </h2>
                </div>
            </mat-card-title>
            <mat-card-content>
                <table mat-table [dataSource]="lineasDeProduccion" style="width: 100%">
                    <ng-container matColumnDef="index">
                        <th mat-header-cell *matHeaderCellDef> No.</th>
                        <td mat-cell *matCellDef="let element;let i = index"> {{i+1}}</td>
                    </ng-container>

                    <ng-container matColumnDef="lineaDeProduccion">
                        <th mat-header-cell *matHeaderCellDef> Linea de Producción </th>
                        <td mat-cell *matCellDef="let element"> {{element.lineaDeProduccion}} </td>
                    </ng-container>

                    <ng-container matColumnDef="areaDedicada">
                        <th mat-header-cell *matHeaderCellDef>Área Dedicada</th>
                        <td mat-cell *matCellDef="let element"> {{element.areaDedicada}} </td>
                    </ng-container>

                    <ng-container matColumnDef="estudioSuelo">
                        <th mat-header-cell *matHeaderCellDef> Estudio De Suelo </th>
                        <td mat-cell *matCellDef="let element"> {{element.estudioSuelo}} </td>
                    </ng-container>

                    <ng-container matColumnDef="acciones" stickyEnd>
                        <th mat-header-cell *matHeaderCellDef style="text-align: center;">Acciones</th>
                        <td mat-cell *matCellDef="let element" align="center">
                            <button mat-mini-fab color="accent" (click)="editarParcela($event,element)" [matTooltip]="'Editar Linea de Producción - ' + element.lineaDeProduccion">
                                <mat-icon>mode_edit</mat-icon>
                            </button>
                            <button mat-mini-fab color="warn" (click)="eliminarParcela($event,element)" [matTooltip]="'Eliminar Linea de Producción - ' + element.lineaDeProduccion">
                                <mat-icon>delete</mat-icon>
                            </button>
                        </td>
                    </ng-container>

                    <tr mat-header-row *matHeaderRowDef="displayedColumnslineaDeProduc"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumnslineaDeProduc"></tr>
                </table>
            </mat-card-content>
        </mat-card>
    </mat-dialog-content>
</div>
