<div class="lc-block toggled" id="l-login">
    <div class="title text-center">
        <h4 style="margin-bottom: 30px">Sistema de Gestión de Entrega de Tierra</h4>
        <img src="assets/images/logo_login.jpg" style="border-radius: 100%" width="200" height="200">
    </div>
    <form class="login-form" [formGroup]="form" (submit)="iniciarSesion()" style="padding-top: 10%" [attr.disabled]="isLoading">
        <h4 style="margin-bottom: 30px">Iniciar Sesión</h4>
        <div style="color: red;height: 30px">{{mensaje}}</div>
        <div class="input-group m-b-20">
            <span class="input-group-addon" style="vertical-align: middle">
                <i class="material-icons prefix pt-5">person_outline</i>
            </span>
            <div class="fg-line">
                <mat-form-field class="full-width" style="width: 95%">
                    <input matInput placeholder="Nombre de Usuario" formControlName="username">
                    <mat-error *ngIf="form.controls['username'].errors?.required">Debe insertar el nombre de usuario</mat-error>
                </mat-form-field>
            </div>
        </div>

        <div class="input-group m-b-20">
            <span class="input-group-addon" style="vertical-align: middle"><i class="material-icons prefix pt-5">lock_outline</i></span>
            <div class="fg-line">
                <mat-form-field class="full-width" style="width: 95%">
                    <input matInput placeholder="Contraseña" formControlName="password" type="password" #password>
                    <mat-error *ngIf="form.controls['password'].errors?.required">Debe proporcionar una contraseña</mat-error>
                </mat-form-field>
            </div>
        </div>
        <button class="btn btn-login btn-danger btn-float waves-effect waves-circle waves-float" style="padding-top: 10px">
            <i class="material-icons">arrow_forward</i>
        </button>
    </form>
</div>
